@include breakpoint(small) {
	.featured-hero {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0;
		position: relative;
		height: rem-calc(200);
		}

		.no-featured-image-set {
			height: rem-calc(16) !important;
		}
}
@include breakpoint(medium only) {
	.featured-hero {
		min-height: rem-calc(600);
		height: 50rem;
		overflow-y: hidden;
	}
}
@include breakpoint(large) {
	.featured-hero {
		min-height: rem-calc(400);
		height: 50rem;
		overflow-y: hidden;
	}
}
