// Colors

$primary-color: #30b4ea;
$secondary-color: #022550;
$tertiary-color: #ed1b24;

// Fonts
$body-font-family: 'Cabin', sans-serif;
$header-font-family: 'Montserrat', sans-serif;
$tertiary-font-family: 'Oswald', sans-serif;

$base-font-size: $rem-base;
$medium-font-size: ($base-font-size + 2px);
